/* Layout global attributes */
html, html * {
  padding:                0;
  border:                 none;
  outline:                none;
  margin:                 0;
}

body {
  width:                  950px;
  margin:                 auto;
  position:               relative;
}

hr, li.empty {
  display:                block;
  clear:                  both;
  height:                 0;
  margin:                 0;
  visibility:             hidden;
}

h1 {
  padding:                1.25em 0 1em 0;
  position:relative;
  z-index:3;
}
/* /Layout global attributes */


/* Header */
#header {
  height:                 130px;
  padding-bottom:         95px;
/*    border:                                   1px solid red;*/
/*  margin-bottom:          -100px;*/
  position:               relative;
/*  z-index:                -1;*/
}

#logo_print {
  display:                none;
}

#logo_screen, #slogan, #global_search {
  position:               absolute;
}

#logo_screen {
  padding:                70px 0 20px 50px;
  bottom:                 74px;
  left:                   0;
/*    border:1px solid blue;*/
}

#slogan {
  width:                  300px;
  bottom:                 92px;
  right:                  50px;
  z-index:                3;
/*    border:1px solid blue;*/
}
/* /Logo */


/* Menu */
#header ul {
/*  display:                                        none;*/
  width:                  920px;
  height:                 70px;
  position:               absolute;
  bottom:                 15px;
  left:                   15px;
  right:15px;
}

#header li {
  display:                inline;
/*  padding:                8px 0 13px 7px;*/
line-height:  70px;
/*        border:1px solid green;*/
        margin:0;
}

#header li a {
  
display:inline-block;
  height:70px;
/*          border:1px solid blue;*/
  line-height:70px;
/*  padding:                8px 15px 13px 30px;*/
  padding:                0 20px;
  margin:                 0;
}
/* /Menu */


#global_search {
  width:                  160px;
  position:               absolute;
  top:                    10px;
  right:                  20px; 

/*  border:1px solid red;*/
}

#global_search * {
/*  width:                  100%;*/
  -webkit-border-radius:  8px;
  -moz-border-radius:     8px;
}

#global_search input {
  width:                  130px;
  height:                 16px;
  padding:                2px 15px;
}
/* /Header */


/* Main content */
#main_content {
  padding:                0 58px;
}

#thumbnails {
  margin-right:           -58px;
/*  border:1px dotted green;*/
}

#thumbnails li {
  float:                  left;
  width:                  240px;
  height:                 240px;
  margin:                 0 57px 58px 0;
/*    border:1px dashed gray;*/
  position:               relative;
}

#thumbnails h3, #thumbnails h4, 
#thumbnails div, #thumbnails label {
  position:               absolute;
}

#thumbnails h3 {
  padding:                9px;
  margin-right:           15px;
  bottom:                 13px;
  left:                   15px;
  z-index:                1;
}

#thumbnails h4, #thumbnails label {
  bottom:                 -13px;
  right:                  44px;
  z-index:                1;
}

#thumbnails div {
  width:                  240px;
  bottom:                 0;
}
.videos #thumbnails img {
  max-width:              240px;
  bottom:                 0;
}

#thumbnails img {
  display:                block;
  margin:                 auto;
}

#thumbnails .empty {
  float:                  none;
  height:                 0;
  margin:                 0;
}
/* /Main content */


/* Footer */
#footer {
/*  border:                             1px solid blue;*/
  padding:                250px 50px 50px 50px;
}
/* /Footer */